*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
*.py.disabled
.project
.pydevproject
db/
venv/
virtenv/
/venv??/
dist/
build/
_build/
*.db
logging_settings_local.py
*.log.*
-celery1
-celery2
1.*
db.sqlite3
*_randy*
*_bck*
tests_log/
**/settings/local.py
.cache/
staticfiles/*
local_settings.py
/selenium_examples/geckodriver.log
/node_modules/
.ipynb_checkpoints
