django>=1.11,<2.0
django_extensions
requests
dj-database-url==0.4.0
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6
requests_mock
treelib
beautifulsoup4
furl
sphinx
sphinxcontrib-plantuml==0.6
sphinx_rtd_theme==0.1.9
recommonmark
plantweb
sphinx_js
astpretty
selenium
pyyaml
django-allauth
jsonpickle
django-sendgrid-v5
redbaron
astunparse
