.container {
    display: grid;
    /*grid-template-columns: auto auto;*/
    grid-template-columns: 60% auto;
    /*grid-gap: 10px;*/
}

.custom-container {
    /*repair bootstrap trying to make bigger margins and media sizing changing max-width*/
    margin-right: 0px;
    margin-left: 0px;
    max-width: inherit; /* was -webkit-fill-available but pycharm complained */
    margin-top: 1em;
}

article {
    padding: 1rem;
    height: 100%;
    border-color: #aa1111;
    border-bottom-width: thick;
}

.CodeMirror {
    font-family: monospace;
    font-size: 16px;
    border: 1px solid #eee;
    height: auto;
}


.left-half {
    background: #ff9e2c;
    grid-column: 1;
}

.right-half {
    background: #f4ffd7;
    grid-column: 2;
    font-size: larger;
}

article pre {
    font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;

    /*repair bootstrap styling, putting a box around the pre etc. */
     background-color: inherit;
     border: inherit;
     font-size: inherit;
     /*font-size: 13px;*/
}

/*Examples Page*/

table.examples_table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table.examples_table th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
table.examples_table th {
    text-align: center;
    vertical-align: center;
    font-size: 2.5em;
    /*background-color: rgba(88, 200, 212, 0.2);*/
    color: #2c5f95;
}
table.examples_table td {
    text-align: left;
    vertical-align: top;
}

table.examples_table td:nth-child(3) {
    text-align: center;
    /*text-align: left;*/
    vertical-align: middle;
    width: 25em;
}

table.examples_table td:nth-child(3) div div {
    text-align: left;
}

/*Get rid of background color and border in pre of descriptions */
table.examples_table td:nth-child(1) pre {
    background-color: white;
    border: none;
}

table.examples_table div.bot {
    margin-top:1em;
}

table.examples_table h2 {
    margin-top:0em;
    /*background: #e5fdef;*/
}

span.examples_action_link {
    margin-right: 1em;
    font-size: smaller;
}