
/* more mundane stuff */

div.header h1 {
    display: inline-block;
    color: #a11f13;
    font-size: 2.5em;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 0.10em;
}

div.header i {
    clear: both;
    display: block;
    margin-left: 1em;
    margin-right: 0;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 3px;
}

.python {
    width: 100%;
    font-family: monospace;
    font-size: large;
}

.description {
    /*These don't matter since this will be replaced by tiny-mce editor, which has its own height property, too. */
    /*width: 50%;*/
    /*align-content: left;*/
    /*height: 0em;*/
}
.submit_button {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: chartreuse;
    font-size: x-large;
}

.convert_button {
    float: right;
}

/* Edit Example Page */

table.form_table {
    /*get rid of borders*/
    border: none;
}
table.form_table th, td {
    /*get rid of borders*/
    border-bottom: none;
}
.table-expand tbody tr td:nth-child(1n) {
    /*make left column slim down*/
    white-space:nowrap;
}
.table-expand tbody tr td:nth-child(2n) {
    /*make left column slim down*/
    width:100%
}

/*after adding bootstrap I had to add margins*/

.andy_content {
    margin-left: 1em;
    margin-right: 1em;
}