
/* more mundane stuff */

div.header h1 {
    display: inline-block;
    color: #a11f13;
    font-size: 2.5em;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 0.10em;
}

div.header i {
    clear: both;
    display: block;
    margin-left: 1em;
    margin-right: 0;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 3px;
}

.python {
    width: 100%;
    font-family: monospace;
    font-size: large;
}

.description {
    /* The styles of the description textbox don't matter since this will be replaced by tiny-mce editor */
}

.submit_button {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: chartreuse;
    font-size: x-large;
}

.convert_button {
    float: right;
}

.parse_errors {
    font-size: large;
    padding: 25px 10px 0px 10px;  /* top right bottom left */
    color: #c53f23;
}

/* Edit Example Page */

table.form_table {
    /*get rid of borders*/
    border: none;
}
table.form_table th, td {
    /*get rid of borders*/
    border-bottom: none;
}
.table-expand tbody tr td:nth-child(1n) {
    /*make left column slim down*/
    white-space:nowrap;
}
.table-expand tbody tr td:nth-child(2n) {
    /*make left column slim down*/
    width:100%
}

/*after adding bootstrap I had to add margins*/

.andy_content {
    margin-left: 1em;
    margin-right: 1em;
}

/* unused at present */
.hidden {
    visibility:hidden;
}

/*example sync*/

td.file-missing {
    background-color: #95bbc8;
}
td.redis-missing {
    background-color: #ffcc64;
}

table.example_sync_table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table.example_sync_table th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
