.container {
    display: grid;
    /*grid-template-columns: auto auto;*/
    grid-template-columns: 60% auto;
    /*grid-gap: 10px;*/
}

.custom-container {
    /*repair bootstrap trying to make bigger margins and media sizing changing max-width*/
    margin-right: 0px;
    margin-left: 0px;
    max-width: inherit; /* was -webkit-fill-available but pycharm complained */
    margin-top: 1em;
}

article {
    padding: 1rem;
    height: 100%;
    border-color: #aa1111;
    border-bottom-width: thick;
}

.CodeMirror {
    font-family: monospace;
    font-size: 16px;
    border: 1px solid #eee;
    height: auto;
}


.left-half {
    background: #ff9e2c;
    grid-column: 1;
}

.right-half {
    background: #f4ffd7;
    grid-column: 2;
    font-size: larger;
}

article pre {
    font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;

    /*repair bootstrap styling, putting a box around the pre etc. */
     background-color: inherit;
     border: inherit;
     font-size: inherit;
     /*font-size: 13px;*/
}
