<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/js/lib/jquery-3.2.1.min.js"></script>
    {% block additional_js %}
    {% endblock additional_js %}
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/js/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main_last.css">
</head>
<body>
    {% block heading %}
        <title>Python to RPN - {{title}}</title>

        <div class="header">
            <h1 class="header">Python to RPN - {{title}}</h1>
            <i class="header">A new way to program HP calculators like the HP42S, DM42 and Free42</i>
        </div>
    {% endblock %}
    <div>
        <!--<h2>This is part of my base template</h2>-->
        <!--<hr>-->
        {% block content %}
        {% endblock %}

       <br>
       <br>
       <br>
       <hr>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21552030-5"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-21552030-5');
        </script>


        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 300x250, created 09/02/10 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-3729777633760054"
             data-ad-slot="0535527882"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>


        <div class="andy_content">
            <h3>Related Calculator Stuff</h3>
            <p> Interested in a modern thermal printer for the Free42 calculator?</p>
            <img src="https://www.dropbox.com/s/eqgas756mq1im2d/epson_thermal_rpn_graphics.JPG?raw=1">
            <p>Contact <a href="mailto:abulka@gmail.com?subject=print42 beta">Andy</a>
            to get into the beta program.</p>
        </div>

    </div>
</body>
</html>
