{% extends "base.html" %}

{% block additional_js %}
{% endblock %}

{% block content %}
    <ul>
        <li><a href="/">Converter</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/py-rpn-lib">Python RPN Utility Functions Library</a></li>
        <li><a href="/subscribe">Subscribe to new feature announcements</a></li>
    </ul>

    <div class="andy_content">

        <p>The intention is to provide access to all HP42S RPN commands or to provide an equivalent.
        Where it makes overwhelming sense, a more modern, time saving or Pythonic alternative is provided e.g. matrix
        access via indexing and slicing syntax - see the help file for information and tutorials.
        </p>
        <p>
        Commands that operate on the stack, that use GTO, or which test and jump e.g. X<0? are not applicable in Python.
        And often it is simply that the symbols like ? in the RPN commands are not allowed in Python syntax, so
        something like FS? needs to be exposed as e.g. isFS().
        </p>
        <p>
        <b>Warning:</b> The description column in the table below is the original "pure" HP42S command description, which
            will often refer to the stack.  The stack is not used in Python so translate these descriptions
            accordingly.  For example a references to stack x can often be substituted with a reference to a Python variable.
            E.g. SIN which acts on stack x is simply SIN(myvar) when accessed via Python.
        </p>
        <table border=1 class="cmd_list_table">
            <tr>
                <th>HP42S Command</th>
                <th>Supported in Python to RPN</th>
                <th>Comments</th>
                <th>Parameters</th>
                <th>Description (original HP42S)</th>
            </tr>
            {% for cmd in cmd_list.keys() %}
            <tr>
                <td>
                    {{ cmd }}
                </td>
                <td>
                    {{ cmd_list[cmd]['supported'] }}
                </td>
                <td>
                    {{ cmd_list[cmd]['suggestion'] }}
                </td>
                <td>
                    {{ cmd_list[cmd]['params'] }}
                </td>
                <td align="left">
                    {{ cmd_list[cmd]['description'] }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <p>
        <i>Acknowledgement</i>: List of commands taken from the
            <a href="http://thomasokken.com/free42/42s.pdf">Alternative HP-42S/Free42 Manual</a>
        </p>

    </div>

{% endblock %}
