{% extends "base.html" %}

{% block additional_js %}
{% endblock %}

{% block content %}
    <ul>
        <li><a href="/">Converter</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/py-rpn-lib">Python RPN Utility Functions Library</a></li>
        <li><a href="/subscribe">Subscribe to new feature announcements</a></li>
    </ul>

    <div class="andy_content">

        <p>The intention is to provide access to all HP42S RPN commands or to provide an equivalent.
        </p>
        <ul>
            <li>
                HP42S commands which include symbols like <code>?!,.<>+-×÷≤≠↑Σ→</code>
                <i>etc.</i> are not valid Python syntax, so alternative names have been invented.
                Something like <code>FS?</code> is exposed as e.g. <code>isFS()</code>.
                The table below lists all renamed commands.
            </li>
            <li>
                Where it makes overwhelming sense, a more modern, time saving or Pythonic alternative is provided. For
                example
                matrix access is more easily done using natural Python (and NumPy) indexing and slicing syntax -
                see the help page for full information and tutorials.
            </li>
            <li>
                Commands that:
                <ul>
                    <li>
                        Operate on the stack
                    </li>
                    <li>
                        Use GTO
                    </li>
                    <li>
                        Which test and jump e.g. X<0?
                    </li>
                </ul>
                are not applicable to Python.
                Use <b>natural Python syntax</b> instead e.g. use <code>if var < 0:</code> instead of <code>X<0?</code>
            </li>
        </ul>
        <p>
            The description column in the table below is the original "pure" HP42S command description,
            which
            will often refer to the stack. The stack is not exposed to the user in Python so please translate these
            descriptions
            as follows:
        </p>
        <ul>
            <li>
                A reference to <b>x</b> from the Python point of view means a single variable needs to be passed in as a
                parameter.
                E.g. <code>SIN</code> which acts on stack x is simply <code>SIN(var)</code> when accessed via Python.
            </li>
            <li>
                If both <b>x</b> and <b>y</b> are needed, then from the Python point of view two parameters are
                needed <code>(y,x)</code>. Notice
                that y goes first because during conversion to RPN,
                Python parameters are pushed onto the the stack from <i>left to right</i>, so the first parameter
                ends up in the y stack position and the second parameter ends up in the x stack position.
            </li>
        </ul>
        <p>An attempt has been made to redact material in the original "pure" HP42S command description column
            which might be misleading.  The text is <del>struck out</del> but remains, so that the original intent of the command
            is visible, which may aid programming.</p>
        <br>
        <table border=1 class="cmd_list">
            <tr>
                <th>HP42S Command</th>
                <th>Supported in Python to RPN</th>
                <th>Comments</th>
                <th>Parameters</th>
                <th>Description (original HP42S)</th>
            </tr>
            {% for cmd in cmd_list.keys() %}
            <tr class="{{cmd_list[cmd]['class']}}">
                <td>
                    {{ cmd }}
                </td>
                <td>
                    {{ cmd_list[cmd]['supported'] }}
                </td>
                <td>
                    {{ cmd_list[cmd]['suggestion'] }}
                </td>
                <td style="font-family: monospace">
                    {{ cmd_list[cmd]['params'] }}
                </td>
                <td align="left">
                    {{ cmd_list[cmd]['description'] | safe }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <p>
        <i>Acknowledgement</i>: List of commands taken from the
            <a href="http://thomasokken.com/free42/42s.pdf">Alternative HP-42S/Free42 Manual</a>
        </p>

    </div>

{% endblock %}
