{% extends "base.html" %}

{% block additional_js %}
{% endblock %}

{% block content %}

<ul>
    {% if admin %}
    <li><a href="/sync?do=1">Sync now (admin)</a></li>
    {% endif %}
    <li><a href="/">Converter</a></li>
    <li><a href="/examples">Examples</a></li>
    <li><a href="/help">Help</a></li>
</ul>

<div class="andy_content">
    <table border=1 class="example_sync_table">
        <tr>
            <th>title</th>
            <th>sortnum</th>
            <th>redis_id</th>
            <th>filename</th>
            <th>file exists</th>
        </tr>
        {% for ex in infos %}
            <tr>
                <td>
                    <span class="examples_action_link">
                        <a href="/example/{{ ex.redis_id }}">{{ ex.title }}</a>
                        <a href="/example/{{ ex.redis_id }}?delete=1" style="float: right">del</a>
                    </span>
                </td>
                <td> {{ ex.sortnum }} </td>
                {% if ex.redis_id == 0 %} <td class="redis-missing"> {% else %} <td> {% endif %} {{ ex.redis_id }} </td>
                <td> {{ ex.filename }} </td>
                {% if ex.filename and not ex.has_file %} <td class="file-missing"> {% else %} <td> {% endif %} {{ ex.has_file }} </td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
