{% extends "base.html" %}
{% block additional_js %}
{% endblock %}

{% block content %}
    <ul>
        <li><a href="/">Converter</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/example">Create new Example</a></li>
        <li><a href="/help">Help</a></li>
        {% if admin %}
        <li><a href="/sync">Examples Synchronisation (admin)</a></li>
        {% endif %}
    </ul>
    <div class="andy_content">

        <h1>Thanks!</h1>
        <p>Thanks for voting for this example.</p>
        <p>The example <b>{{ example.title }}</b> has been sent for moderation.</p>
    </div>

{% endblock %}
