{% extends "base.html" %}
{% block additional_js %}
<link rel="stylesheet" href="../static/js/lib/prism.css">
<script src="../static/js/lib/prism.js"></script>
<script src="../static/js/lib/vue.js"></script>
{% endblock %}

{% block content %}
<ul>
    <li><a href="/example">Create Example</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/">Converter</a></li>
    <li><a href="/subscribe">Subscribe to new feature announcements</a></li>
    <li><a href="/canvas">Canvas for 42S Simulator</a></li>
    {% if admin %}
    <li><a href="/sync">Examples Synchronisation (admin)</a></li>
    {% endif %}
</ul>

<div class="andy_content">


    Categories:
    <select id="example_category">
        <option value="intro">Introductory Examples</option>
        <option value="lists">Lists and Dictionaries</option>
        <option value="drawing">Drawing Primitives</option>
        <option value="all">All Examples</option>
    </select>
    <br>
    <br>
    Categories:
    <select id="example_category_">
        {% for tag in all_tags %}
            <option value="tag_{{tag}}">{{tag}}</option>
        {% endfor %}
    </select>
    <br>
    <br>


    <table border=1 class="examples_table">
        <tr>
            <th>Example</th>
            <th><img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM-flattened.png" width="40%"></th>
            <th><img src="static/calc_icon2.png" width="90px"></th>
        </tr>
        {% for example in examples %}
        <tr class="category category_{{example.id}}">
            <td>
                <div class="top">
                    <h2>{{ example.title }}</h2>
                    {{ example.description.strip()|safe }}
                </div>
                <div class="bot">
                    {% if admin or not example.filename %}
                        <span class="examples_action_link"><a href="/example/{{ example.id }}" title="Edit">Edit</a></span>
                        <span class="examples_action_link"><a href="/example/{{ example.id }}?clone=1" title="Make a new copy of this example">Clone</a></span>
                        <span class="examples_action_link"><a href="/example/{{ example.id }}?delete=1" title="Delete this example - no confirmation.  Please be careful about deleting other people's work.">Delete</a></span>
                        {% if not (admin and example.filename) %}
                        <span class="examples_action_link"><a href="/example/{{ example.id }}?vote=1" title="Send request to make this example permanent">Vote</a></span>
                        {% endif %}
                    {% elif not admin and example.filename %}
                        <span class="examples_action_link"><a href="/example/{{ example.id }}?clone=1" title="Make a new, editable copy of this example">Clone</a></span>
                    {% endif %}
                </div>
            </td>
            <td>
                <pre><code class="language-python">{{ example.source.strip() }}</code></pre>
                {% if admin %}
                    <p style="font-size: small; color: green">id: <b>{{ example.id }}</b></p>
                    {% if example.filename %}
                        <p style="font-size: small; color: green">filename: <b>{{ example.filename }}</b></p>
                    {% endif %}
                    {% if example.sortnum %}
                        <p style="font-size: small; color: green">sort num: <b>{{ example.sortnum }}</b></p>
                    {% endif %}
                    {% if example.tags %}
                        <p style="font-size: small; color: green">tags: <b>{{ example.tags }}</b></p>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <rpn example_id="{{ example.id }}" source="{{ example.source.strip() }}"></rpn>
                <br>
                <p><a href="/{{ example.id }}">Load in Converter Editor</a></p>
            </td>
        </tr>

        {% endfor %}
    </table>
    <br>
    {% if not admin %}
        <p><i>Warning: Any examples you create will be purged periodically.</i><p>
        <p><i>To help the community and make new examples permanent, click the <b>vote</b> link next to any user created examples - including your own.</i></p>
        <br>
    {% endif %}
</div>

<script>
    $(document).ready(function () {

        Vue.component('rpn', {
            props: ['example_id', 'source'],
            template: `
            {% raw %}
            <div>
                <a v-on:click.prevent="calc_rpn" href="#" v-show="! is_visible">Preview</a>
                <div v-show="is_visible">
                    <label>comments <input type="checkbox" v-model="show_rpn_comments" v-on:change="toggle_rpn_comments()"></label>
                    <button type="button" @click="hide_me" style="float: right">x</button>
                    <pre v-if="show_rpn_pre"><code>{{ rpn }}</code></pre>
                    <p style="font-size: smaller">{{ num_python_lines }} python lines, {{ num_rpn_lines }} rpn lines.</p>
                    <hr>
                </div>
            </div>
            {% endraw %}
            `,
            data() {
                return {
                    is_visible: false,
                    show_rpn_pre: false,
                    show_rpn_comments: true,
                    rpn: '',
                    rpn_with_comments: '',
                    rpn_free42: '',
                    num_python_lines: -1,
                    num_rpn_lines: -1,
                }
            },
            methods: {
                hide_me() {
                    this.is_visible = false
                },
                calc_rpn(e) {
                    this.is_visible = !this.is_visible
                    if (!this.is_visible)
                        return
                    if (this.rpn == '') {
                        this.num_python_lines = this.source.split('\n').length
                        let url = `/example/${this.example_id}?to-rpn=1`
                        $.get(url).then((response) => {  // I think the use of this.$http() is only in vue components and data is in response.data
                            this.rpn_with_comments = response.rpn;
                            this.rpn_free42 = response.rpn_free42;
                            this.toggle_rpn_comments();
                            this.show_rpn_pre = true
                            this.num_rpn_lines = this.rpn.split('\n').length
                        });
                    }
                },

                toggle_rpn_comments() {
                    if (this.show_rpn_comments)
                        this.rpn = this.rpn_with_comments
                    else
                        this.rpn = this.rpn_free42
                }
            }
        })

        new Vue({
            el: '.andy_content',
        })


        $('#example_category').on('change', function () {
            let category = this.value
            display_examples(category)
        });

        function display_examples(category) {
            $('.category').hide()
            if (category == 'intro') {
                $('.category_' + '16').show()
                $('.category_' + '2').show()
                $('.category_' + '3').show()
            }
            else if (category == 'lists') {
                $('.category_' + '21').show()
                $('.category_' + '9').show()
            }
            else if (category == 'drawing') {
                $('.category_' + '20').show()
            }
            else
                $('.category').show()

        }

    })
</script>

{% endblock %}