{% extends "base.html" %}
{% block additional_js %}
    <script src="../static/js/lib/codemirror-5.33.0/codemirror.js"></script>
    <link rel="stylesheet" href="../static/js/lib/codemirror-5.33.0/codemirror.css">
    <script src="../static/js/lib/codemirror-5.33.0/python.js"></script>
{% endblock %}

{% block content %}
    <ul>
        <li><a href="/">Converter</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/help">Help</a></li>
    </ul>

    <div class="andy_content">

        <form id="mainform" method="POST" action="/example">
            {{ form.source(class_='python', id='id_python_text') }}

            <table class="form_table table-expand">
                <tr>
                   <td> {{ form.title.label }} </td>
                   <td> {{ form.title() }} </td>
                </tr>
                <tr>
                   <td> {{ form.description.label }} </td>
                   <td> {{ form.description(class_='description') }} </td>
                </tr>
                <tr>
                   <td> {{ form.public.label }} </td>
                   <td> {{ form.public() }} </td>
                </tr>
            </table>
            <input class="submit_button" title='Save this as an example' data-toggle="tooltip" type="submit" value="Save">
            {{ form.csrf_token }}
        </form>

    </div>

    <script>
        var options1 = {lineNumbers: true,
                        mode: "python",
                        lineWrapping: true}
        var myCodeMirror1 = CodeMirror.fromTextArea($('#id_python_text').get(0), options1);

    </script>
{% endblock %}
