{% extends "base.html" %}
{% block additional_js %}
    <script src="../static/js/lib/codemirror-5.33.0/codemirror.js"></script>
    <link rel="stylesheet" href="../static/js/lib/codemirror-5.33.0/codemirror.css">
    <script src="../static/js/lib/codemirror-5.33.0/python.js"></script>
    <script src="../static/js/lib/tinymce/tinymce.min.js"></script>

{% endblock %}

{% block content %}
    <ul>
        <li><a href="/">Converter</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/example">Create new Example</a></li>
        <li><a href="/help">Help</a></li>
        {% if admin %}
        <li><a href="/sync">Examples Synchronisation (admin)</a></li>
        {% endif %}
    </ul>

    <script>
        // stop the flashing as tiny-mce applies itself.  Unused now, since it breaks codemirror.
        // $('html').hide();
    </script>

    {% set disabled = '' if admin or (not admin and not form.filename.data) else 'disabled' %}


    <br>
    <div class="andy_content">

        {% if not admin and not form.filename.data %}
            <p><i>Warning: Any examples you create will be purged periodically.</i><p>
            <p><i>To help the community and make new examples permanent, click the <b>vote</b> link next to any user created examples on the <a href="/examples">Examples</a> list page.</i></p>
            <br>
        {% endif %}

        {% if form.errors %}
            <h3 style="color: red;">Errors</h3>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {% if field.errors %}
                        {{ field.label }}:
                        <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %} - {% endif %}{% endfor %}</span>
                    {% endif %}
                </p>
            {% endfor %}
            <hr>
        {% endif %}

        <!--leave action="" out of form so that post goes back to originating url incl. /example/id or /example - meaning form can be used for both create and edit-->
        <form id="mainform" method="POST">
            <!--<p>{{ form.title.label }}</p>-->
            <p> <b>{{ form.title.label }}: </b> {{ form.title() }} </p>

            <h3> {{ form.source.label }} </h3>
            {{ form.source(class_='python', id='id_python_text') }}

            <h3> {{ form.description.label }} </h3>
            {{ form.description(class_='description', id='id_description_text') }}

            {% if admin %}
                <h3>Advanced</h3>
                <table class="form_table table-expand">
                    <tr>
                       <td> {{ form.filename.label }} </td>
                       <td> {{ form.filename() }} </td>
                    </tr>
                    <tr>
                       <td> {{ form.public.label }} </td>
                       <td> {{ form.public() }} </td>
                    </tr>
                    <tr>
                       <td> {{ form.sortnum.label }} </td>
                       <td> {{ form.sortnum() }} </td>
                    </tr>
                {% endif %}
            </table>

            <input class="submit_button" {{ disabled }} title='Save this as an example' data-toggle="tooltip" type="submit" value="Save">
            {% if disabled %}
                <p><i>The ability to save this example has disabled because this example is protected by the admin.</i></p>
                <p><i>If you are interested in creating useful examples of the community please contact <a href="mailto:abulka@gmail.com">Andy</a> for rights.
                    </i></p>
            {% endif %}

            {{ form.csrf_token }}
        </form>

    </div>

    <script>
        var options1 = {lineNumbers: true,
                        mode: "python",
                        lineWrapping: true}
        var myCodeMirror1 = CodeMirror.fromTextArea($('#id_python_text').get(0), options1);

        function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
        };
        options2 = {
            selector: '#id_description_text',
            height: "10em",
            theme: 'modern',
            mode: "textareas",

            plugins: "table lists code link charmap codesample emoticons fullscreen help hr preview",

            theme_advanced_buttons3_add: "tablecontrols",
            table_styles: "Header 1=header1;Header 2=header2;Header 3=header3",
            table_cell_styles: "Header 1=header1;Header 2=header2;Header 3=header3;Table Cell=tableCel1",
            table_row_styles: "Header 1=header1;Header 2=header2;Header 3=header3;Table Row=tableRow1",
            table_cell_limit: 100,
            table_row_limit: 5,
            table_col_limit: 5,

            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | " +
                     "bullist numlist outdent indent | " +
                     "link table emoticons codesample",

            setup: function(ed) {
                ed.on('init', function(e) {
                    // $('html').show();  // by now tiny-mce has finished, so show the page
                });
            },

        }
        if (isMobileDevice()) {
          options2['theme'] = 'mobile'
        }
        tinyMCE.init(options2);


    </script>
{% endblock %}
