{% extends "base.html" %}
{% block additional_js %}
<link rel="stylesheet" href="../static/js/lib/prism.css">
<script src="../static/js/lib/prism.js"></script>
<script src="../static/js/lib/vue.js"></script>
{% endblock %}

{% block content %}
<ul>
    <li><a href="/">Converter</a></li>
    <li><a href="/example">Create Example</a></li>
    <li><a href="/help">Help</a></li>
</ul>

<div class="andy_content">
    <table border=1 class="examples_table">
        <tr>
            <th>Example</th>
            <th><img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM-flattened.png" width="40%"></th>
            <th><img src="static/calc_icon2.png" width="90px"></th>
        </tr>
        {% for example in examples %}
        <tr>
            <td>
                <div class="top">
                    <h2>{{ example.title }}</h2>
                    {{ example.description.strip()|safe }}
                </div>
                <div class="bot">
                    <span class="examples_action_link"><a href="/example/{{ example.id }}">Edit</a></span>
                    <span class="examples_action_link"><a href="/example/{{ example.id }}?clone=1">Clone</a></span>
                    <span class="examples_action_link"><a href="/example/{{ example.id }}?delete=1">Delete</a></span>
                </div>
            </td>
            <td>
                <pre><code class="language-python">{{ example.source.strip() }}</code></pre>
            </td>
            <td>
                <p><a href="/{{ example.id }}">View</a></p>
                <br>
                <div id="calculated_rpn">
                    <a v-on:click="calc({{ example.id }})" href="#/">Preview</a>
                    <pre v-if="seen">{% raw %}{{ rpn }}{% endraw %}</pre>
                </div>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>

<script>
    $(document).ready(function () {
        let vm = new Vue({
            el: '#calculated_rpn',
            data: {
                rpn: '',
                rpn_free42: '',
                seen: false,
            },
            methods: {
                calc: function (example_id) {
                    if (this.seen) {
                        this.seen = false
                        return
                    }
                    let url = `/example/${example_id}?to-rpn=1`
                    $.get(url).then((response) => {  // I think the use of this.$http() is only in vue components and data is in response.data
                        this.rpn = response.rpn;
                    });
                    this.seen = true
                },
            }
        })
    })
</script>

{% endblock %}