<!doctype html>
<html>
    <head>

        <script src="../static/js/lib/jquery-3.2.1.min.js"></script>

        <script src="../static/js/lib/codemirror-5.33.0/codemirror.js"></script>
        <link rel="stylesheet" href="../static/js/lib/codemirror-5.33.0/codemirror.css">
        <script src="../static/js/lib/codemirror-5.33.0/python.js"></script>

        <link rel="stylesheet" href="../static/index.css">

    </head>
   <body>
        <h1>Save Example</h1>

        <ul>
            <li><a href="/">Converter</a></li>
            <li><a href="/examples">Examples</a></li>
        </ul>

        <form id="mainform" method="POST" action="/example">
            {{ form.source(class_='python', id='id_python_text') }}
            <input class="submit_button" title='Save this as an example' data-toggle="tooltip" type="submit" value="Save">
            <br>
            {{ form.title.label }} {{ form.title() }}
            <br>
            {{ form.description.label }} {{ form.description() }}
            <br>
            {{ form.public.label }} {{ form.public() }}
            {{ form.csrf_token }}
            <br>
        </form>

   <script>
        var options1 = {lineNumbers: true,
                        mode: "python",
                        lineWrapping: true}
        var myCodeMirror1 = CodeMirror.fromTextArea($('#id_python_text').get(0), options1);

   </script>

   </body>

</html>

