{% extends "base.html" %}

{% block additional_js %}
{% endblock %}

{% block content %}
    <ul>
        <li><a href="/">Converter</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/example">Add Example</a></li>
    </ul>

    <style>
        .second-row {
            height: 300em;
            width: 100%;
            border: none; margin: 0; padding: 0; }
    </style>

    <div class="row-container">
          <iframe class="second-row" src="https://docs.google.com/document/d/e/2PACX-1vRV7G4VAQtATvpJ7VaNlN5kjdTMHI97FVybvPjeEwHnPqttnkqa9zRMbym4h--0QAlltgadqO4fDnAX/pub?embedded=true"></iframe>
    </div>
{% endblock %}
