<!doctype html>
<html>
    <head>

        <script src="../static/js/lib/jquery-3.2.1.min.js"></script>
        <script src="../static/js/lib/codemirror-5.33.0/codemirror.js"></script>
        <link rel="stylesheet" href="../static/js/lib/codemirror-5.33.0/codemirror.css">
        <script src="../static/js/lib/codemirror-5.33.0/python.js"></script>
        <link rel="stylesheet" href="../static/index.css">
    </head>
   <body>

        <section class="container">
          <div class="left-half">
              <article>

                  <h1>Enter Python Source Code:</h1>

                    <form id="mainform" method="POST" action="/">
                        {{ form.source(class_='python', id='id_python_text') }}
                        <input class="submit_button" title='Ctrl-ENTER' type="submit" value="Convert">
                        <br>
                        {{ form.comments.label }} {{ form.comments() }}
                        <br>
                        {{ form.line_numbers.label }} {{ form.line_numbers() }}
                        {{ form.csrf_token }}
                        <br>
                    </form>

              </article>
          </div>
          <div class="right-half">
            <article>
               <!--<h1>RPN</h1>-->
                <img src="static/calc_icon1.png" style="float: right;">
               <pre>
{{ rpn }}
               </pre>

            </article>
          </div>
        </section>

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<h1>Nostalgic images...</h1>-->
        <!--<img src="https://i.ytimg.com/vi/-A7HB6YD12o/maxresdefault.jpg">-->

   </body>

    <script>
        var options1 = {lineNumbers: true, mode: "python"}
        var myCodeMirror1 = CodeMirror.fromTextArea($('#id_python_text').get(0), options1);

        $(document).keydown(function(e) {
              // console.log('key code is: ' + e.which + ' ' + (e.ctrlKey ? 'Ctrl' : '') + ' ' +
              //       (e.shiftKey ? 'Shift' : '') + ' ' + (e.altKey ? 'Alt' : ''));

              if (e.ctrlKey && e.which == 13)
                  $('#mainform').submit()
        });

         $(document).ready(function () {
             myCodeMirror1.focus()
             myCodeMirror1.setCursor(myCodeMirror1.lineCount(), 0)
         })
    </script>


</html>

