{% extends "base.html" %}
{% block additional_js %}
    <script src="../static/js/lib/codemirror-5.33.0/codemirror.js"></script>
    <link rel="stylesheet" href="../static/js/lib/codemirror-5.33.0/codemirror.css">
    <script src="../static/js/lib/codemirror-5.33.0/python.js"></script>
    <script src="../static/js/lib/clipboard.min.js"></script>
{% endblock %}

{% block content %}
        <ul>
            <li><a href="/examples">Examples</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/subscribe">Subscribe to new feature announcements</a></li>
        </ul>
        <section class="container custom-container">
          <div class="left-half">
              <pre class="parse_errors" style="display: none">{{ parse_errors }}</pre>
              <article>
                    <h3>Enter Python Source Code:</h3>
                    <form id="mainform" method="POST" action="/">
                        {{ form.source(class_='python', id='id_python_text') }}
                        <input class="submit_button convert_button" title='Ctrl-ENTER' data-toggle="tooltip" type="submit" value="Convert">
                        <br>
                        {{ form.comments.label }} {{ form.comments() }}
                        <br>
                        {{ form.line_numbers.label }} {{ form.line_numbers() }}
                        <br>
                        <br>
                        {{ form.emit_pyrpn_lib.label }} {{ form.emit_pyrpn_lib() }}
                        <div id="emit_pyrpn_lib_help" style="display: none">
                            You have chosen to provide the required utility functions by loading <a href="{{ url_for('py_rpn_lib') }}">this</a> program into your calculator/Free42.
                        </div>
                        {{ form.csrf_token }}
                        <br>
                        <!--<a href="/example" id="save_to_examples">Save</a>-->
                    </form>

              </article>
          </div>
          <div class="right-half">
            <article>
                <div class="result-view" style="display: none">
                    <!-- The buttons used to copy the text -->
                    <button class="btn btn-primary" data-clipboard-text="{{ rpn }}" title="Copy RPN text as shown">Copy</button>
                    <button class="btn btn-primary" data-clipboard-text="{{ rpn_free42 }}" title="Copy RPN text - ready to paste into Free42 calc (no comments, line numbers)">Copy for Free42</button>
                </div>
                <!--<h1>RPN</h1>-->
                <img src="static/calc_icon1.png" style="float: right;">
                <pre>{{ rpn }}</pre>

                <div class="result-view" style="display: none">
                    <!-- The buttons used to copy the text -->
                    <button class="btn btn-primary" data-clipboard-text="{{ rpn }}" title="Copy RPN text as shown">Copy</button>
                    <button class="btn btn-primary" data-clipboard-text="{{ rpn_free42 }}" title="Copy RPN text - ready to paste into Free42 calc (no comments, line numbers)">Copy for Free42</button>
                </div>
            </article>
          </div>
        </section>


    <script>
        var first_time = $('.right-half pre').text() == "Press Convert"
        if (! first_time) $('.result-view').show()

        var options1 = {lineNumbers: true,
                        mode: "python",
                        lineWrapping: true,
        }
        var myCodeMirror1 = CodeMirror.fromTextArea($('#id_python_text').get(0), options1);
        myCodeMirror1.setOption("extraKeys", {
          Tab: function(cm) {
            var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
            cm.replaceSelection(spaces);
          }
        });

        $(document).keydown(function(e) {
              // console.log('key code is: ' + e.which + ' ' + (e.ctrlKey ? 'Ctrl' : '') + ' ' +
              //       (e.shiftKey ? 'Shift' : '') + ' ' + (e.altKey ? 'Alt' : ''));

              if (e.ctrlKey && e.which == 13)
                  $('#mainform').submit()
        });

         $(document).ready(function () {
             let $errs = $('pre.parse_errors')
             if ($errs.text() == '') {
                 $errs.hide()
                 myCodeMirror1.focus()
                 myCodeMirror1.setCursor(myCodeMirror1.lineCount(), 0)
             }
             else
                 $errs.show()
         })

        // Clipboard Copy
        $('[data-toggle="tooltip"]').tooltip()
        $('.btn').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        function setTooltip(btn, message) {
          btn.tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
        }

        function hideTooltip(btn) {
          setTimeout(function() {
            btn.tooltip('hide');
          }, 1000);
        }

        // Clipboard Copy
        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function(e) {
            // console.log(e);
            var btn = $(e.trigger);
            setTooltip(btn, 'Copied');
            hideTooltip(btn);
        });
        clipboard.on('error', function(e) {
            // console.log(e);
              setTooltip('Failed!');
              hideTooltip();
        });

        // Display warning if Generate checkbox is off
        function display_emit_pyrpn_lib_help() {
            if ($('#emit_pyrpn_lib').prop('checked'))
                $("#emit_pyrpn_lib_help").hide()
            else
                $("#emit_pyrpn_lib_help").show()
        }
        $('#emit_pyrpn_lib').on('click', function () { display_emit_pyrpn_lib_help() })
        display_emit_pyrpn_lib_help()  // when page loads or hit back button

    </script>

{% endblock %}
